# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/

# Virtual environments
venv/
.venv/
env/
.env

# Databases and Logs
*.sqlite
*.sqlite3
*.log
bybit/logs/
bybit/data/bybit/futures/
bybit/tradesv3.sqlite
bybit/tradesv3.sqlite-shm
bybit/tradesv3.sqlite-wal


# Freqtrade specific
bybit/plot/
bybit/backtest_results/
bybit/hyperopt_results/
bybit/logs/
bybit/data/ # If you store data here that shouldn't be committed
bybit/exchange-secrets.json # Common location for exchange secrets
bybit/configs/*.json # Ignore all configs in bybit/configs
!bybit/configs/sample_config.json # Except for a sample one

# ML / FreqAI
bybit/models/
bybit/models_backup/
bybit/freqaimodels/
bybit/freqaimodels/

# Notebooks
bybit/notebooks/.ipynb_checkpoints/
.ipynb_checkpoints/

# OS-specific
.DS_Store
Thumbs.db